TELEGRAM_BOT_TOKEN=8xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-5-preview
OPENAI_FALLBACK_MODEL=gemini

# Gemini
GEMINI_API_KEY=Axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_MODEL=gemini-3-flash-preview

#gpt-4
# обмеження пам'яті (скільки останніх повідомлень тримати)
HISTORY_LIMIT=20

# 1 = бот працює без OpenAI (для тесту Telegram частини)
# 0 = реальний OpenAI
FAKE_MODE=0

# Якщо хочеш, щоб бот працював тільки для одного користувача:
# (впиши свій Telegram ID)
# Якщо залишити порожнім — бот працює для всіх
ALLOWED_USER_ID=

