# secrets
.env
.env.local
.env.dev
.env.prod
!.env.example

# python
__pycache__/
*.pyc
*.pyo

# venv
venv/

# database
*.db
*.sqlite
*.sqlite3

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
